<h4>Posttest Result</h4>
<p>You got <%= current_user.posttest_score %> out of 45 correct answer/s.</p>
<br><br><br>
<% @questions.each do |question| %>
  <p>
    <h6><%= question.text %></h6>
    <% if question.image %>
      <%= image_tag(question.image) %>
    <% end %>
    <ul>
      <% question.choices.each do |choice| %>
        <li><%= choice.text %></li>
      <% end %>
    </ul><br>
    <h6>You answered: <%= @choices_text[current_user.posttest_answers[question.id]] %></h6>
    <h6>Correct answer: <%= @choices_text[question.correct_answer.id] %></h6>
  </p>
  <br>
<% end %>
<h4>Thank you for participating in this research!</h4>
